html, body, #eq-map {
    background-color: #ddd;
    width: 100%;
    height: 95%;
    padding: 0;
    margin: 0;
}

#map-container {
    width: 90%;
    height: 95%;
    padding: 0;
    margin: 0 5%;
}

.legend {
    background-color: #ddd;
    border-radius: 1rem;
    padding: 5%;
    line-height: 1rem;
}

.legend p {
    margin-bottom: 10%;
}

.legend i {
    float: left;
    width: 1rem;
    height: 1rem;
    margin-right: 10%;
}
